form .reg_now{
  padding-top:40px;
}

.sidebar {
  position:fixed;
  width:240px;
  height:100%;
  background: #1e1e1e;

 
}
.sidebar a{
  display: block;
  color: white;
  height: 65px;
  width: 100%;
  line-height: 65px;
  padding-left: 30px;
 
  border-left: 2px solid #e5e9f7 transparent ;
}

a:hover, a:active{
  border-left: 2px solid #e5e9f7;
  color:#e70000;
  background-color: #e5e9f7;

}

.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}

@media (max-width:860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin:100px 0;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a i{
    margin-left: -10px;

  }

}



/* .container .sidebar{   
    background: black;
    width: 13%;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}
.checkbtn1{
    font-size: 25pt;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 10vh;
    margin-right: 3%;
    cursor: pointer;
    display: none;
  }
  #check1{
    display: none;
  }

  .side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8% 10%;
  }

  .side  i {
    margin-right: 6%;
  }

  .side  a {
    color: white;
    text-decoration: none;
  }

  .side:hover {
    background-color: white;
    color: red;
  }

  .side:hover  a {
    color: red;
  }
@media (max-width: 1300px){
    .container .sidebar{
        width: 20%;
    }
}
@media (max-width: 900px){
    .container .sidebar{
        width: 30%;
    }
}
@media (max-width: 650px){
    .container .sidebar{
        width: 35%;
    }
}
@media (max-width: 550px){
    .container .sidebar{
        width: 40%;
    }
} */


/* 
form .reg_now{
  padding-top:40px;
}

.form .submit input:hover{
    background: rgb(80, 8, 222);
    color: rgb(255, 255, 255);
    border-radius: 12px;

} 



 */




 